@model IEnumerable<Order>


<link rel="stylesheet" href="~/css/table.css">

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog modal-dialog-centered"></div>
</div>

<a asp-action="DownloadOrders" asp-controller="Order" class="btn-info">
    Скачать заказы
</a>

<div class="content">

    <div class="table-container">

        @if ((Model?.Count() ?? 0) == 0)
        {
            <h3 style="text-align:center">Нет заказов</h3>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-striped custom-table">
                    <thead>
                    <tr>
                        <th scope="col">Заказ</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Почта</th>
                        <th scope="col">Сумма</th>
                        <th scope="col">Количество</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>@item.Name</td>
                            <td>
                                @item.Email
                            </td>
                            <td>BYN @item?.Products.Sum(elem => elem.Category.Price)</td>
                            <td>@item?.Products.Count()</td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="more delete">Удалить</a>
                            </td>
                            <td>
                                <a onclick="myfunction(@item.Id)" style="cursor: pointer;" class="more details">Детали</a>
                            </td>

                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
    </div>

    <div class="list-inline" style="display: flex;">
        <div>
            <input style="width: 60px" id="custom-cells"/>
        </div>
        <div id="custom-cells-events">

        </div>
    </div>

</div>


<script type="text/javascript">
    function myfunction(id) {
        $.ajax({
            type: "GET",
            url: "Info",
            data: { "id": id },
            dataType: "html",
            success: function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            }
        });
    }

    
    var eventDates = [1, 10, 12, 22],
        $picker = $('#custom-cells'),
        $content = $('#custom-cells-events'),
        sentences = [ "fdsfsdf", "dsffds", "dsfdsfhdsjf", "234344234"];
    
    $picker.datepicker({
        language: 'en',
        onShow: function(dp, animationCompleted){
                if (!animationCompleted) {
                    console.log('start showing')
                } else {
                    console.log('finished showing')
                }
            },
        onRenderCell: function (date, cellType) {
            var currentDate = date.getDate();
            // Add extra element, if `eventDates` contains `currentDate`
            if (cellType == 'day' && eventDates.indexOf(currentDate) != -1) {
                return {
                    html: currentDate + '<span class="dp-note">.</span>'
                }
            }
        },
        onSelect: function onSelect(fd, date) {
            var title = '', content = ''
            // If date with event is selected, show it

            if (date && eventDates.indexOf(date.getDate()) != -1) {
                title = fd;
                content = sentences[Math.floor(Math.random() * eventDates.length)];
            }
            // $('strong', $content).html(title)
            $content.html('');
            $content.append($('<strong></strong>').text(title));
            $content.append($('<p></p>').text(content));
            // $content.append('<span id="add_here">title</span>');
            //$('p', $content).html(content)
        }
    })
    
    // Select initial date from `eventDates`
    // var currentDate = currentDate = new Date();
    // $picker.datepicker({    })
    // $('.datepicker')
    $picker.data('datepicker').selectDate(new Date(currentDate.getFullYear(), currentDate.getMonth(), 10))
</script>